$component-name :'header__superior';

.#{$component-name}{


    nav{
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: $darkness ;
        padding: 1rem 3%;
        position: relative;
        

        .navbar-collapse{
           

            .navigation__header{
                display: flex;
                align-items: center;
                gap: 2em;
                padding: 0;
                margin: 0 auto;
    
              
                    a{
                        font-weight: 300;
                        font-family: 'IBM Plex Mono', monospace;

                        &.selected {
                            color: $fall !important;
                        }
                    }
         
    
            }
    
      
    
            
    
            .ancor__header{
                text-transform: uppercase;
                padding: 0;
                margin: 0;
                display: flex;
                gap: 1em;
                margin-left: auto;
                position: relative;

                .link-edit {

                    width: auto;
                    padding: 0.5rem;
                    border: 1px solid $white;
                    border-radius: $radius-20-px;
                    margin-top: 1rem;
                    margin: 1rem auto;
                    display: flex;
                    align-items: center;


                    @include breakpoint (medium-normal) {
                        width: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                   
                        
                    }

                    a {
    
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: $fs-minus;
                        gap: 1em;
                        font-weight: 200;
                        font-family: 'IBM Plex Mono', monospace;
                        width: 100%;
                        
                        
        
                        i{
                            font-size: $fs-high;
                        }

                        .user-img {
                            width: 30px;
                            height: 30px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }

                  

                }
    
    
                .compras-icon{
                    position: relative;
                    .quantidade{
                        position: absolute;
                        background: $fall;
                        width: 25px;
                        height: 25px;
                        border-radius: $radius-50-percent;
                        text-align: center;
                        line-height: 1.8;
                        left: 110px;
                        top: -20px;
                        opacity: 0;
                        transition: $transition-fast;
    
                        &.visible {
                            opacity: 1;
                            transition: $transition-fast;
                        }
                    }
                }
            }
        

        }


        .header__logo__container{

            display: flex;
            align-items: center;
            text-align: center;

            .logo-snickers{


    
                .logo__title{

                    font-family: 'IBM Plex Mono', monospace;
                    font-size: 1.4em;
                    position: relative;
                    font-weight: 800;
                    display: flex;
                    padding-left: 0.75em;
                    margin-right: 2em;
                    z-index: 2;
        
                    .logo-snicker{

                       .snicker__icon{
                            position: absolute;
                            left: 0;
                            top: -50%;
                            z-index: -1;
                            fill: $white;
                       }

                    }
    
                    @include breakpoint(medium-up-high){
                        margin-right: 2em;
                    }
                }
        
        
            }
        }

    }
    

}